/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
server.php
/vendor
.env
.env_old
.htaccess
composer.json
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/Modules/UserRoles/Http/Controllers/UserController.php;
/resources/views/auth/login.blade.php
/resources/views/layouts/app.blade.php
/resources/views/layouts/home.blade.php
/Modules/UserRoles/Resources/views/dashboard.blade.php
composer.lock
